<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="font-bold text-3xl mb-6">Create an apointment type</h1>
    <% if current_user.apointment_link? %>
      <%= link_to "View live page", user_path(apointment_link: current_user.apointment_link), class: "text-gray-700 underline" %>
    <% end %>
  </div>

  <%= render 'form', apointment_type: @apointment_type %>
</div>
